:global(.el-dialog) {
  .el-dialog__header {
    background-color: #001529;
    border-radius: 2px 2px 0 0;
    .el-dialog__title, .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }
  }
}
